<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         >
    <testsuites>
        <testsuite name="core">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
 
</phpunit>